.slide-2 {
    // background-color: #5cc2f1;
    // background-image: url('../images/bg_p2.jpg');
    background-image: url('../images/jzf/bg_02.png');
    background-size: cover;
    .item-image {
        width: 6rem;
        height: 80%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 2rem;
        left: 1.7rem;
        right: 0;
        background-image: url('../images/jzf/bg_02_nav.png');
    }
    .item-text {
        width: 18rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
