.slide-9 {
    // background-color: #9d1256;
    background-image: url('../images/jzf/bg_01.png');
    background-size: cover;
    .item-logo {
        width: 90%;
        height: 4rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/hx_3_logo.png');
    }
    .item-text {
        width: 90%;
        height: 8rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 6.5rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/hx_3_text.png');
    }
    .item-hx {
        width: 100%;
        height: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 15.5rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/hx_3.png');
    }
}