.slide-5 {
    // background-color: #9d1256;
    background-image: url('../images/jzf/bg_03.png');
    background-size: cover;
    .item-text {
        width: 10rem;
        height: 6rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 3rem;
        left: 2rem;
        background-image: url('../images/jzf/bg_5_text.png');
    }
    .item-map {
        width: 100%;
        height: 18rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 14rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/bg_5_map.png');
    }
}