.slide-1 {
    // background-color: #e88a63;
    // background-image: url('../images/bg_p1.jpg');
    background-image: url('../images/jzf/bg_01.png');
    background-size: cover;
    .item-logo {
        width: 15rem;
        height: 4.9rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/jzf_logo.png');
    }
    .item-text {
        width: 21rem;
        height: 10rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 12rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/jzf_text.png');
    }
    .item-image {
        width: 17rem;
        height: 21rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 3rem;
        margin: auto;
        background-image: url('../images/jzf/jzf_img.png');
    }
    .item-slogan {
        width: 6.44rem;
        height: 1.42rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        background-image: url('../images/jzf/jzf_th_logo.png');
    }
}
