.slide-hd-2 {
    background-image: url('../images/hd/img_bj.jpg');
    background-size: cover;
    .item-text {
        width: 90%;
        height: 45%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url(../images/hd/image-ea4855.png);
    }
    .item-image {
        width: 100%;
        height: 45%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 3.0rem;
        margin: auto;
        background-image: url(../images/hd/image-693981.png);
    }
}
