.slide-1 {
    // background-color: #e88a63;
    // background-image: url('../images/bg_p1.jpg');
    background-image: url('../images/jzf/pg_1.png');
    background-size: cover;
    .item-image {
        width: 18rem;
        height: 18rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/github-1.png');
    }
    .item-text {
        width: 18rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
