.slide-4 {
    // background-color: #f8c32d;
    background-image: url('../images/jzf/bg_03.png');
    background-size: cover;
    .item-logo {
        width: 15rem;
        height: 4.9rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/logo_th.png');
    }
    .item-text {
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 13rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/jzf/bg_4_text.png');
    }
}