@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8imwkx');
  src:  url('../fonts/icomoon.eot?8imwkx#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8imwkx') format('truetype'),
        url('../fonts/icomoon.woff?8imwkx') format('woff'),
        url('../fonts/icomoon.svg?8imwkx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'my-custom-icon-font';
    src: url('../font/my-custom-icon-font.svg?90099692#my-custom-icon-font') format('svg');
  }
}
*/
 
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-menu:before {
  content: "\e900";
}
.icon-shar:before {
  content: "\e901";
}
.icon-bi:before {
  content: "\e902";
}
.icon-sys:before {
  content: "\e903";
}
.icon-piao:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-office:before {
  content: "\e906";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bubbles4:before {
  content: "\e970";
}
