/*loading动画样式*/
#progress-wrap {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  opacity: 0.5;
  position: absolute;
  top: 0;
  .loading {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 0 -30px;
    left: 50%;
    top: 100px;
    z-index: 999;
    .l-bounce2,
    .l-bounce3 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #0062e0;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0.6;
    }
    .l-bounce2 {
      -webkit-animation: bounce2 2s infinite ease-in-out 0s;
    }
    .l-bounce3 {
      -webkit-animation: bounce3 2s infinite ease-in-out 0s;
    }
    @-webkit-keyframes bounce2 {
      0%,
      100% {
        transform: scale(1);
      }
      50% {
        transform: scale(0);
      }
    }
    @-webkit-keyframes bounce3 {
      0%,
      100% {
        transform: scale(0);
      }
      50% {
        transform: scale(1);
      }
    }
  }
  #progress-info {
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #222;
    font-size: 15px;
    position: absolute;
    top: 60%;
  }
}
