@charset "UTF-8";

.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(#444, 0.8);
    z-index: 9999;
    img {
        width: 10rem;
        height: 10rem;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
