@charset "UTF-8";

.menu-main {
    background-color: rgba($color: #333, $alpha: 0.4);
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    z-index: 99;
    li {
        list-style-type: none;
        text-align: center;
        flex: 1;
        i {
            background: url(../images/menu.png) no-repeat;
            background-size: 832px 126px;
            width: 32px;
            height: 32px;
            display: block;
            margin: 0 auto;
        }
        .icon-1 {
            background-position: 0px -52px;
        }
        .icon-2 {
            background-position: -448px -52px;
        }
        .icon-3 {
            background-position: -480px -52px;
        }
        .icon-4 {
            background-position: -384px -52px;
        }
        .icon-5 {
            background-position: -544px -52px;
        }
        span {
            color: #efefef;
            font-size: 0.45rem;
        }
    }
    li.action {

        i.icon-1 {
            background-position: 0px -20px;
        }
        i.icon-2 {
            background-position: -448px -20px;
        }
        i.icon-3 {
            background-position: -480px -20px;
        }
        i.icon-4 {
            background-position: -384px -20px;
        }
        i.icon-5 {
            background-position: -544px -20px;
        }
    }
}
