@charset "UTF-8";

.page-hx-xiangqing {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-image: url('../images/ld/bg_hx.jpg');
    background-size: cover;
    .hx-xq-content {
        width: 100%;
        height: 45%;
        top: 7%;
        position: absolute;
        .hx-xq {
            width: 100%;
            height: 100%;
            position: absolute;
            display: none;
            .hx-xq-2d {
                width: 100%;
                height: 100%;
            }
            #hx-xq-3d {
                width: 100%;
                height: 100%;
                background-color: #efefef;
            }
        }
        .hx-xq.action {
            display: block;
        }
    }
    .hx-xq-title {
        width: 100%;
        bottom: 12%;
        position: absolute;
    }
    .hx-xq-btn {
        width: 25%;
        height: 6vw;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        background-image: url("../images/ld/qhbtn1.png");
        background-size: 100%;
        background-repeat: no-repeat;
        // .hx-xq-btn-img {
        //     height: 100%;
        // }
        a{
            display: block;
            position: absolute;
            height: 100%;
            width: 50%;
            top: 0;
            z-index: 10;
            
        }
        .btn-1 {
            left: 0;
            // background-color: rgb(40, 239, 0);
            // color: #ffffff;
        }
        .btn-2 {
            right: 0;
            // background-color: #00efdb;
            // color: #ffffff;
        }
    }
    .hx-xq-back {
        width: 8%;
        top: 1.5%;
        right: 2.5%;
        position: absolute
    }
    
}