@charset "UTF-8";

.page-quanjing {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1f4d3d;
    #quanjing-3d-show {
        width: 100%;
        height: 100%;
        // bottom: 66px;
        position: absolute;
        background-color: #444;
    }
}