@charset "UTF-8";

.page-tools {
    // width: 100%;
    // height: 100%;
    // position: absolute;
    .tools-list {
        display: none;
        position: absolute;
        background-color: rgba(51, 51, 51, 0.4);
        width: 20%;
        right: 0%;
        bottom: 66px;
        z-index: 99999;
        width: 20%;
        right: 0%;
        a {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #fff;
            font-size: 10px;
            font-family: "PingFang SC";
            font-weight: 400;
            text-align: center;
            color: #fff;
            text-decoration: none;
            z-index: 99999;
        }
    }
    .tools-list.action {
        display: block;
    }
    
}