@charset "UTF-8";

.page-quwei {
    width: 100%;
    height: 100%;
    position: absolute;
    .qw-list {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../images/ld_qwjt/qwbg1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: none;
        .qw-img {
            width: 100%;
            position: absolute;
            z-index: 1;
            .qw-img-j {
                width: 100%;
                position: absolute;
                z-index: 3;
                display: none;
            }
            .qw-img-j.action {
                display: block;
            }
            .qw-img-k {
                width: 100%;
                position: absolute;
                z-index: 3;
                display: none;
            }
            .qw-img-k.action {
                display: block;
            }
        }
        .qw-img-i {
            width: 100%;
            position: absolute;
            z-index: 2;
        }
        .qw-text {
            width: 100%;
            position: absolute;
            z-index: 2;
            bottom: 5rem;
        }
        .qw-btn-d-x {
            width: 60px;
            position: absolute;
            bottom: 5rem;
            right: 5.15625vw;
            z-index: 9;
            a {
                display: block;
                width: 60px;
                height: 23px;
                margin-bottom: 0.5rem;
                background: url('../images/qw_1.png');
                // background-position: 0 0;
                background-size: 120px 234px;
            }
            a:last-child {
                margin-bottom: 0;
            }
            .btn-da-1 {
                background-position: 60px 23px;
            }
            .btn-da-2 {
                background-position: 60px 46px;
            }
            .btn-da-3 {
                background-position: 60px 70px;
            }
            .btn-da-4 {
                background-position: 60px 94px;
            }
            .btn-da-5 {
                background-position: 60px 117px;
            }
            .btn-da-1.action {
                background-position: 0 23px;
            }
            .btn-da-2.action {
                background-position: 0 46px;
            }
            .btn-da-3.action {
                background-position: 0 70px;
            }
            .btn-da-4.action {
                background-position: 0 94px;
            }
            .btn-da-5.action {
                background-position: 0 117px;
            }
            .qw-xiao-1 {
                background-position: 60px 141px;
            }
            .qw-xiao-2 {
                background-position: 60px 164px;
            }
            .qw-xiao-3 {
                background-position: 60px 187px;
            }
            .qw-xiao-4 {
                background-position: 60px 211px;
            }
            .qw-xiao-5 {
                background-position: 60px 0;
            }
            .qw-xiao-1.action {
                background-position: 0 141px;
            }
            .qw-xiao-2.action {
                background-position: 0 164px;
            }
            .qw-xiao-3.action {
                background-position: 0 187px;
            }
            .qw-xiao-4.action {
                background-position: 0 211px;
            }
            .qw-xiao-5.action {
                background-position: 0 0;
            }
        }
    }
    .qw-list.action{
        display: block;
    }
    .qw-btn {
        width: 60%;
        top: 55%;
        left: 0;
        right: 0;
        margin: 0 auto;    
        position: absolute;
        z-index: 9;
        display: flex;
        a {
            display: block;
            flex: 1;
            height: 1.6rem;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .qw-btn-1 {
            background-image: url('../images/ld_qwjt/qw_da_btn.png');
            float: left;
        }
        .qw-btn-2 {
            background-image: url('../images/ld_qwjt/qw_xiao_btn.png');
            float: right;
        }
        .qw-btn-1.action {
            background-image: url('../images/ld_qwjt/qw_da_btn_h.png')
        }
        .qw-btn-2.action {
            background-image: url('../images/ld_qwjt/qw_xiao_btn_h.png')
        }
    }
    .qw-da {
        display: none
    }
    .qw-xiao {
        // display: none
    }
}