@charset "UTF-8";

// helpers
@import "helpers/global-variables";
@import "helpers/mixins";
@import "helpers/functions";

// base
@import "base/reset";
@import "base/base";

// components
@import "components/loading-overlay";
@import "components/loading-3d-show";
@import "components/btn-music";
@import "components/up-arrow";
@import "components/swiper-container";
@import "components/swiper-slide";
@import "components/icon-font";
@import "components/icon-font1";
@import "components/menu-main";
@import "components/page-huxing";
@import "components/page-quanjing";
@import "components/page-quwei";
@import "components/page-hx-xiangqing";
@import "components/page-tools";

// sections
@import "slides/slide-1";
@import "slides/slide-2";
@import "slides/slide-3";
@import "slides/slide-4";
@import "slides/slide-5";
@import "slides/slide-6";
@import "slides/slide-7";
@import "slides/slide-8";
@import "slides/slide-9";

@import "slides/slide-hd-0";
@import "slides/slide-hd-1";
@import "slides/slide-hd-2";
